<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AIVibeAIAdvisorURL</key>
	<string></string>
	<key>AIVibeAppToken</key>
	<string></string>
	<key>AIVibeImageGenURL</key>
	<string></string>
	<key>AIVibeMarketplaceURL</key>
	<string></string>
</dict>
</plist>
